:root {

    --dark-brown: #592F15;
    --light-brown: #B47C51;
    --cream: #F7E7D1;
    --olive-green: #7D8F69;

    /* رنگ‌های اصلی */
    --primary: #1B3B86;
    /* آبی سرمه‌ای */
    --secondary: #B8B88A;
    /* سبز روشن خاکستری */
    --accent: #3A5F41;
    /* سبز تیره */
    --background: #F5F5DC;
    /* کرم روشن */
    --white: #FFFFFF;
    /* سفید */

    /* سایه‌های رنگ اصلی برای حالت hover */
    --primary-hover: #152d66;
    --secondary-hover: #9a9a73;
    --accent-hover: #2d4a33;

    /* رنگ‌های متن */
    --text-primary: #1B3B86;
    --text-secondary: #3A5F41;
    --text-light: #FFFFFF;

    /* رنگ‌های پس‌زمینه */
    --bg-primary: var(--background);
    --bg-secondary: var(--white);
    --bg-accent: var(--primary);
}


/* Reset default margin and padding */
* {

    html,
    body,
    div,
    span,
    applet,
    object,
    iframe,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    blockquote,
    pre,
    a,
    abbr,
    acronym,
    address,
    big,
    cite,
    code,
    del,
    dfn,
    em,
    img,
    ins,
    kbd,
    q,
    s,
    samp,
    small,
    strike,
    strong,
    sub,
    sup,
    tt,
    var,
    b,
    u,
    i,
    center,
    dl,
    dt,
    dd,
    ol,
    ul,
    li,
    fieldset,
    form,
    label,
    legend,
    table,
    caption,
    tbody,
    tfoot,
    thead,
    tr,
    th,
    td,
    article,
    aside,
    canvas,
    details,
    embed,
    figure,
    figcaption,
    footer,
    header,
    hgroup,
    menu,
    nav,
    output,
    ruby,
    section,
    summary,
    time,
    mark,
    audio,
    video {
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
    }

    /* HTML5 display-role reset for older browsers */
    article,
    aside,
    details,
    figcaption,
    figure,
    footer,
    header,
    hgroup,
    menu,
    nav,
    section {
        display: block;
    }

    ol,
    ul {
        list-style: none;
        width: 100%;
    }

    blockquote,
    q {
        quotes: none;
    }

    blockquote:before,
    blockquote:after,
    q:before,
    q:after {
        content: '';
        content: none;
    }

    table {
        border-collapse: collapse;
        border-spacing: 0;
    }
}

html {
    scroll-behavior: smooth;
}

/* font-face */
@font-face {
    font-family: 'iranyekan';
    src: url("../font/iranyekanwebboldfanum.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap
}

body {
    font-family: "iranyekan", sans-serif;
    transition: background-color 0.3s ease;
    background-color: var(--olive-green);
    line-height: 1;
}

.light-mode {
    background: #ffffff;
    color: #333333;
}

.dark-mode {
    background-color: #333333;
    color: #ffffff;
}

.container {
    width: 90%;
    margin: 0 auto;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
}

.container-logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.logo img {
    max-width: 150px;
    /* یا اندازه مورد نظر شما */
    height: auto;
    mix-blend-mode: multiply;
}

@media (max-width: 768px) {
    .logo img {
        max-width: 100px;
        /* تنظیم اندازه برای صفحات کوچکتر */
    }
}

header {
    background: var(--accent);
    padding: 1rem;}

header h1 {
    margin: 1rem;
    font-size: x-large;
}

h2.title-h2 {
    color: white;
    font-weight: bolder;
    font-size: x-large;
    margin: 0.5rem;
    text-shadow: #444;
}

nav {
    position: right;
}

.menu {
    list-style: none;
    display: flex;
}

.menu li {
    display: inline-block;
    margin-right: 20px;
    width: 100%;
}


.menu a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    padding: 10px;
    width: 100%;
    display: flex;
    align-items: center;
}

.menu a.dark-mode {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.menu-section {
    padding: 1rem 0;
    /* border-radius: 10px; */
    /* background-image: url(../images/main.png); */
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'%3E%3Cdefs%3E%3Cpattern id='tartan' x='0' y='0' width='20' height='20' patternUnits='userSpaceOnUse'%3E%3Crect width='20' height='20' fill='%231B3B86'/%3E%3Crect x='8' width='4' height='20' fill='%233A5F41' opacity='0.7'/%3E%3Crect x='18' width='2' height='20' fill='%23B8B88A' opacity='0.5'/%3E%3Crect y='8' width='20' height='4' fill='%233A5F41' opacity='0.7'/%3E%3Crect y='18' width='20' height='2' fill='%23B8B88A' opacity='0.5'/%3E%3Crect x='8' y='8' width='4' height='4' fill='%233A5F41' opacity='0.9'/%3E%3Crect x='18' y='18' width='2' height='2' fill='%23B8B88A' opacity='0.7'/%3E%3C/pattern%3E%3C/defs%3E%3Crect width='100' height='100' fill='url(%23tartan)'/%3E%3C/svg%3E");
    background-repeat: repeat;
    background-size: 100px 100px;
    
}

.menu-items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
    /* box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px; */
}

.menu-item {
    background-color: #fff;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.menu-item:hover {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.menu-item h3 {
    margin-bottom: 10px;
    font-size: 20px;
}

.menu-item p {
    margin-bottom: 10px;
    font-size: 16px;
}

.menu-item span {
    display: block;
    font-size: 18px;
    color: #666;
}

.dark-mode .menu-item {
    background-color: #444;
    color: #fff;
    box-shadow: 0 2px 5px rgba(255, 255, 255, 0.1);
}

.dark-mode .menu-item span {
    color: #fff;

}

.dark-mode header {
    background-color: #333;
    color: #fff;
}

.dark-mode header a {
    color: #fff;
}

.hamburger-menu {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.hamburger-menu .icon {
    margin-left: 10px;
}

.hamburger-menu-line {
    width: 30px;
    height: 3px;
    background-color: #333;
    margin: 3px;
}

.x {
    display: none;
    position: relative;
    width: 30px;
    height: 30px;


    .line {
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #333;
        transform-origin: center;
    }

    .line:first-child {
        transform: rotate(45deg);
    }

    .line:last-child {
        transform: rotate(-45deg);
    }
}

img.icon {
    margin-left: 15px;
}

.ham-menu-close {
    width: 30px;
    height: 3px;
    background-color: #333;
    margin: 3px;
}

@media (max-width: 768px) {
    .ham-menu {
        display: flex;
        flex-direction: column;
    }

    .hamburger-menu-line.dark-mode {
        color: #fff;
    }

    .hamburger-menu {
        display: flex;
        margin-bottom: 10px;
    }

    .menu {
        display: none;
    }

    .menu.active {
        display: flex;
        flex-direction: column;
        align-items: center;
        background: #fff;
        border-radius: 5px;
        width: 100%;
        padding: 10px 0px;
        line-height: normal;
    }
}

.image-container {
    cursor: pointer;
    overflow: hidden;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    position: relative;
    right: 200px;
}

.rounded-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

p {
    line-height: 2rem;

}

/* .menu-section1 {
    padding: 1rem 0;
    background-image: url(./.jpg);
    background-repeat: repeat;
    border-radius: 10px;
}
.menu-section2{
    background-color: var(--dark-brown);
}
.menu-section3{
    background-color: var(--cream);
}
.menu-section4{
    background-color: var(--olive-green);
} */
/* #enlarged-image {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 90%;
    max-height: 90%;
    display: none;
    z-index: 9999;
    border-radius: 10px;} */

#myBtn {
    font-family: 'iranyekan';
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #7D8F69;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
}

#warning {
    background-color: white;
    padding: 1rem;
    color: var(--dark-brown);
    border-radius: 5px;
}

.x {
    display: none;
    position: relative;
    width: 30px;
    height: 30px;


    .line {
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #333;
        transform-origin: center;
    }

    .line:first-child {
        transform: rotate(45deg);
    }

    .line:last-child {
        transform: rotate(-45deg);
    }
}

@media only screen and (max-width: 768px) {
    .container-logo {
        display: flex;
        flex-direction: column;
    }
}



/* Mixed-fruit-juice */
.Mixed-fruit-juice {
    background-color: white;
    /* padding: 2rem; */
    /* border-radius: 10px; */
    /* box-shadow: 0 0 10px rgba(0,0,0,0.1); */
    text-align: center;
    max-width: 100%;
}

.selection-area {
    display: flex;
    gap: 2rem;
    margin-bottom: 2rem;
}

.juice-select {
    flex: 1;
}

select {
    font-family: 'iranyekan';
    width: 100%;
    padding: 0.5rem;
    margin-top: 0.5rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 0.7rem;
}

#result {
    font-size: 1.2rem;
    padding: 1rem;
    margin-top: 1rem;
    border-radius: 5px;
}

.available {
    background-color: #e6ffe6;
    color: #006600;
}

.unavailable {
    background-color: #ffe6e6;
    color: #cc0000;
}

h2 {
    color: #333;
    margin-bottom: 2rem;
}
.section.menu-section.Mixed-fruit-juice .container .menu-items .menu-item {
    background-image: url(../images/Mixed-fruit-juice.webp);
}

table {
    width: 100%;
    border-collapse: collapse;
    font-family: 'Vazir', sans-serif;
    font-size: 16px;
  }

  th, td {
    padding: 12px 16px;
    text-align: right;
    border-bottom: 1px solid #ddd;
  }

  th {
    background-color: #f2f2f2;
  }

  tr:hover {
    background-color: #f5f5f5;
  }